.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 61.7%;
  margin-right: 5px;
  padding: 7px 10px;
  color: #b3b3b3;
  font: 16px 'OpenSans_regular';
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  width: 30.5%;
  margin-left: 5px;
  padding: 7px 0;
  color: #fff;
  font: 16px 'OpenSans_semibold';
  background: #27ccc0;
  border: none;
  border-radius: 3px;
}