.title {
    padding-right: 10px;
    color: #2b2f3e;
    font: 16px 'OpenSans_semibold';
}

.count {
    padding: 2px 9px;
    color: #fff;
    font: 12px 'OpenSans_bold';
    border-radius: 10px;
    background: #27ccc0;
}

.btn {
    padding: 6px 25px;
    font: 16px 'OpenSans_light';
    color: #FF305A;
    border: 1px solid #FF3159;
    border-radius: 3px;
    background: transparent;
}

.li,
.li-active {
    display: flex;
    align-items: center;
    position: relative;
    padding: 9px 0;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;
}

.li-active:before{
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 2px;
    left: -33px;
    background: #ff2f5a;
}