.form {
  display: flex;
  align-self: flex-end;
  width: 100%;
}

.avatar{
  margin: 0 10px 0 0;
  width: 52px;
  height: 52px;
}

.img {
  width: 100%;
  height: auto;
}

.textarea {
  width: calc(100% - 73px);
  min-height: 70px;
  border: 1px solid #cccccc;
  resize: none;
  font: 14px 'OpenSans_regular';
}