@font-face {
    font-family: 'OpenSans_semibold';
    src: url('../media/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans_regular';
    src: url('../media/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans_light';
    src: url('../media/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../media/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans_bold';
    src: url('../media/fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../media/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}