.aside {
  width: 21%;
  background: #2b2f3e;
}

.title {
  padding: 16px 0 0 27px;
}

.overview {
  margin: 66px 0 0 0;
  padding: 17px 27px;
  color: #fff;
  font: 18px 'OpenSans_regular';
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 45, 92)),color-stop(1, rgb(255, 64, 75)));
  background-image: -webkit-repeating-linear-gradient(top,rgb(255, 45, 92) 0%,rgb(255, 64, 75) 100%);
  background-image: repeating-linear-gradient(to bottom,rgb(255, 45, 92) 0%,rgb(255, 64, 75) 100%);
  background-image: -ms-repeating-linear-gradient(top,rgb(255, 45, 92) 0%,rgb(255, 64, 75) 100%);
}