.avatar {
  width: 52px;
  height: 52px;
  margin: 5px 10px 0 0;
}

.img {
  width: 100%;
  height: auto;
}

.comment {
  width: calc(100% - 62px);
  color: #666666;
  word-break: break-all;
  font: 12px 'OpenSans_regular';
  line-height: 1.5;
}

.comments-list {
  width: 100%;
  margin-top: 10px;
}

.comment-item {
  display: flex;
  padding: 10px 0 20px;
}

.comment-item:not(:last-of-type) {
  border-bottom: 1px solid #F2F2F2;
}